.card {
    position: absolute;
    background: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    cursor: move;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: auto;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
  }
  
  .card-content p {
    margin: 0;
    font-size: 14px;
    color: #333;
    overflow: hidden ;
  }
  
  .card-content button {
    margin-top: 8px;
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    overflow: auto;
  }
  
  .card-content button:hover {
    background-color: #0056b3;
  }
  
  .popup-content {
    padding: 10px;
    background: white;
    border: 1px solid black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .popup-button {
    margin-top: 10px;
    background: #007bff;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .popup-button:hover {
    background: #0056b3;
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 70vw;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it appears above other content */
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  .popup-content h3 {
    margin-top: 0;
  }
  
  .popup-content button {
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-content button:hover {
    background-color: #0056b3;
  }  